.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 auto 30px;
    font-size: 4rem;
    letter-spacing: 8px;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }

  button {
    margin-bottom: 25px;
    cursor: pointer;
    background-color: #525252;
    border: none;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;

    &:hover {
      opacity: 0.9;
      background-color: #747a7a;
    }
  }
}
