body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  outline: 1px solid rgb(148, 148, 148);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(97, 97, 97);
}
